* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bdbdbd;
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
padding-top: 8rem;
}
.name{
  color: black;
  font-family: monospace;
  font-size: 3rem;
}
.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  color: #640000;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2700ff;
  margin-top: 2rem;
  border-radius: 1rem;
  min-height: 3rem;
  color: #fff;
  width: 22rem;
  
}
.app .done-todos .todo {
  margin-top: 0.8em;
  width: 20em;
  min-height: 3rem;
  background-color: #a1a1a1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 9px;
  word-break: break-word;
  margin-bottom: 0.5rem;
  background-color: #afafafc4;
}
.app .done-todos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0cc100;
  margin-top: 2rem; 
  min-height: 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 22rem;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  min-height: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 5px;
  word-break: break-word;
  margin-bottom: 0.5rem; 
  background-color: #afafafc4;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app .done-todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
}
.app .done-todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  
  height: 1rem;
  /* width: 7em; */
  /* padding-top: 30px; */
  align-self: self-end;
}